@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    align-items: center;
}

body{
    background-color: #ebebeb;
}
header {
    background-color: #EAC926;
    font-family: "Roboto";
    font-size: 12px;
    height: 300px;
}

.logo{
    max-width: 20vw;
    margin: 5px 22px;
}

.search-bar{
    width: 175px;
    margin: 0px 15px;
}

.fa-magnifying-glass{
    position: relative;
    background-color: white;
    padding: 1px;
    border: 1px solid black;
    border-radius: 15%;
    left: 15px;
    top: 1px;
    width: 15px;

}

.texto-compra{
    display: inline-block;
    margin: 15px 60px
}

.nav-fa-bars{
    display: flex;
    justify-content: center;
} 

.fa-bars{
    color: white;
    background-color: #1259c3;
    border: 1px #1259c3 solid;
    border-radius: 15%;
    padding: 10px;
    margin: 20px 0px;
}

div a{
    text-decoration: none;
    color: black;
}

.itemsnav {
    display: flex;
    text-decoration: none;
    justify-content: start;
}

@media screen and (max-width: 425px){

    header{
        height: 200px;
    }

    .nav-bar{
        display: none;
    }

    .login-bar{
        display: none;
    }
    
}

@media screen and (min-width: 768px){
    .fa-bars{
        display: none;
    }
}