@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    align-items: center;
}

body{
    background-color: #ebebeb;
}
header {
    background-color: #EAC926;
    font-family: "Roboto";
    font-size: 12px;
    height: 300px;
}

.header-section{
    display: flex;
}

.logo{
    width: 30vw;
    margin: 5px 5px;
}

.search-bar{
    max-width: 175px;
    border: 1px solid white;
}

.fa-magnifying-glass{
    position: relative;
    background-color: white;
    padding: 1px;
    border: 1px solid white;
    border-radius: 15%;
    right: 25px;
    width: 15px;

}

.texto-compra{
    display: inline-block;
    margin-top: 15px;
}

.nav-fa-bars{
    display: flex;
    justify-content: center;
} 

.fa-bars{
    color: white;
    background-color: #1259c3;
    border: 1px #1259c3 solid;
    border-radius: 15%;
    padding: 10px;
    margin: 20px 0px;
}

a{
    text-decoration: none;
    color: black;
}

.itemsnav {
    display: flex;
    text-decoration: none;
    justify-content: start;
}

@media screen and (max-width: 425px){

    header{
        height: 200px;
    }

    .header-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .link-logo{
        display: flex;
        justify-content: start;
        width: 50%;
    }

    .logo{
        margin: 15px 0 0 25px;
        width: 50%;
    }

    .search-bar{
        border-radius: 5px;
        padding: 5px;
        margin-top: 15px;
        width: 50%;
    }
    
    .fa-magnifying-glass{
        margin-top: 15px;
    }

    .nav-bar{
        display: none;
    }

    .login-bar{
        display: none;
    }
}

@media screen and (min-width: 768px){

    header{
        height: 150px;
    }

    .header-section-top{
        display: flex;
        justify-content: space-around;
    }

    .header-section-nav{
        display: flex;
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }

    .itemsnav{
        margin: 10px 10px;
    }
    .fa-bars{
        display: none;
    }
    
    section ul{
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1024px){
    .fa-magnifying-glass{
        position: relative;
        right: 70px;
    }
}