@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

h2{
    font-family: "Roboto";
    font-size: 24px;
}

.main-section{
    margin: 15px auto;
    width: 90%;

}

main h2{
    text-align: center;
    width: 100%;
}

.img-home-banner{
    width: 100%;
}

.precios{
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
    justify-content: flex-start;
    width: 30%;
}

.descuentos{
    color: #39b54a;
    display: flex;
    font-family: "Roboto";
    font-size: 16px;
    justify-content: center;
    width: 70%;
}

.descripción{
    color: #666;
    font-family: "Roboto";
    font-size: 16px;
    text-align: center;
}

.main-container{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.main-img{
    width: 100%;
}

.main-subcontainer{
    border-top:  1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0 0 15px 20px;
}

.fa-truck{
    color: #39b54a;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 15px;
    right: 20px;
    width: 100%;
}

.fa-truck:before{
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    left: 15px;
}

@media screen and (max-width: 425px){
    .descripción{
        display: none;
    }

    .img-home-banner{
        display: none;
    }
}

@media screen and (min-width: 768px){
    /* *{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    } */

    .main-section-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-container{
        width: 40%;
        margin: 15px 25px;
    }

    .main-container:hover{
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

        .fa-truck:before{
            transform: rotate(-90deg);
            
        }

        .descripción{
            visibility: hidden;
        }
    }
}

@media screen and (min-width:1024px) {
    .main-section-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-container{
        width: 20%;
        margin: 10px 5px;
    }

    .main-subcontainer{
        padding: 0 0 10px 10px;
    }
}